<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>You are so cool</p>
    <br/>
    <p>Hello!!</p>
  </body>
</html>
